
*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    color:#003666;
    float: left;
}

nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

nav a:hover{
    border-bottom: 2px solid;
    color: #003666;
}

nav s:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

.ikon{
    margin-right: 6px;
    font-size: 16px;
}

#home{
    height: 600px;
    background-image: url("../img/hotl1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color:black;
    opacity: 0.4;
}

#contents{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(197, 226, 250);
    font-size: 20px;
}

#about{
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

h3{
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

#container{
    width: 1200px;
    height: auto;
    margin: auto;
}

#left{
    float: left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 450px;
    color: #445c6e;
}

#h5left{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 600;
}

#h5left, #right{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}

#right{
    float: right;
    width: 900px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 100px;
}

#pson{
    color: #999999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#gallery{
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 700px;
}

.card{
    width: 340px;
    height: 290px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;
}

.baslikcard{
    font-size: 15px;
    color: #003666;
}

.card:hover{
    border: 2px solid gray;
}

#location{
    background-color: #003666;
    padding: 50px;
    height: 800px;
    text-align: center;
}

#locationh3{
    color: white;
}

#kon{
    color: white;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 1px;
}

#ik{
    color: white;
}

#contact{
    background: url(../img/backnew.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#contacth3{
    color: #003666;
}

#contactopak{
    background:
    rgba(255,255,255,0.2);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#leftform{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#rightform{
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea{
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#cont{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#conttopic{
    font-size: 30px;
    color: white;
}

.contp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copyright{
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#up{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 7px 12px;
    margin-top: 20px;
}
.social{
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    margin: 5px 10px;
}

.social:hover{
    background-color: #888;
}